.upload {
    display: inline-block
}

ion-content {
    --background: #0F1B41;
    --color: #fff;
}

ion-toolbar {
    --background: #0F1B41;
    --color: #fff;
}

ion-segment-button {
    --color: #fff;
}

::ng-deep ion-fab.md.fab-horizontal-end.fab-vertical-bottom.fab-edge.hydrated {
    position: absolute;
    bottom: 36px;
    right: 16px;
}