<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
      <ion-segment-button value="note">
        <ion-label>Note</ion-label>
      </ion-segment-button>
      <ion-segment-button value="draw_img">
        <ion-label>Draw</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
<!-- <div contenteditable="true" id="text" name="text" class="text" wrap="hard">
    <div class="upload" contenteditable="true">
      <img id="output" />
    </div>
  </div> -->

<ion-content *ngIf="segmentModel === 'draw_img'" [forceOverscroll]="false">
  <app-canvaspage></app-canvaspage>
</ion-content>

<ion-content *ngIf="segmentModel === 'note'">
  <app-createnote></app-createnote>
</ion-content>

<!-- </ion-content> -->