.upload {
    display: inline-block
}





// ion-segment-button {
//     --color: #fff;
// }


ion-header {
    background: #0F1B41;
    padding: 20px 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

    ion-back-button {
        --color: #fff;
    }

    ion-title {
        color: #fff;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto", serif;
        line-height: 2;
    }

    ion-toolbar {
        --background: transparent;
    }
}

ion-content {
    --background: #0F1B41;
    --color: #fff;;
    --padding-top: 20px;

    ion-list {
        background: transparent;
        margin: 20px 10px;
        ion-item {
            --background: transparent;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;

            

            h2 {
                font-size: 20px;
                text-transform: uppercase;
                font-family: "Roboto", serif;
                margin: 0;
            }
        }
    }

}
::ng-deep .item-inner {
    border: none;
}
::ng-deep ion-fab.ios.fab-horizontal-end.fab-vertical-bottom.fab-edge.hydrated {
    position: absolute;
    bottom: 30px;
    right: 20px;
}