<ion-header *ngIf="openDraw === false && openNote === false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notes List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="openDraw === false && openNote === false" [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of data" (click)="openNotes(item)">
      <ion-avatar slot="start">
        <ion-icon name="book"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button class="edit-draw">
        <ion-icon name="eyedrop-outline" (click)="openFab('draw')"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button class="edit-draw">
        <ion-icon name="book-outline" (click)="openFab('note')"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
<ion-content *ngIf="openDraw === true && openNote === false" [forceOverscroll]="false" scroll="false">
  <app-canvaspage (changeCompoents)="changeNotes($event)"></app-canvaspage>
</ion-content>

<ion-content *ngIf="openDraw === false && openNote === true" scroll="false">
  <app-createnote [item]="selected_data" (changeCompoents)="changeNotes($event)"></app-createnote>
</ion-content>