<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="closeModel()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <!-- <ion-button (click)="saveImage()" slot="end" class="save-btn">Save</ion-button> -->
    <ion-buttons slot="start">
      <ion-button (click)="closeModel()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../assets/Logo.jpg" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="range-picker_wrap">
    <ion-button (click)="saveImage()" slot="end" class="save-btn">Save</ion-button> 
    <img src="../../../assets/range-pick.png" alt="" (click)="rangeFunChange()" />
    <img src="../../../assets/color-picker.png" alt="" (click)="colorFunChange()" />
    <ion-range min="2" max="50" color="primary" [(ngModel)]="lineWidth" *ngIf="rangeFlag && !colorFlag">
      <ion-icon size="small" slot="start" name="brush"></ion-icon>
      <ion-icon slot="end" name="brush"></ion-icon>
    </ion-range>
    <ion-row class="color-codes" *ngIf="colorFlag && !rangeFlag">
      
        <ion-button (click)="closeModel()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
     
      <div *ngFor="let color of colors" [style.background]="color" class="color-block" tappable
        (click)="selectColor($event,color)"></div>
    </ion-row>
    <div class="ionic_editor_wrapper">
      <div class="ionic_editor_header">
        <!-- <img src="../../../assets/pic-header.png" alt=""> -->
      </div>
      <div class="ionic_editor">
        <div class="main_div">
          <canvas #imageCanvas (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)"
            (touchmove)="moved($event)" (mousemove)="moved($event)" (mouseup)="endDrawing()"
            (touchend)="endDrawing()"></canvas>
        </div>
      </div>
      <div class="ionic-editor-footer"></div>
    </div>
  </div>
</ion-content>


<!-- <div class="main_div">
      <canvas #imageCanvas (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)"
        (touchmove)="moved($event)" (mousemove)="moved($event)" (mouseup)="endDrawing()"
        (touchend)="endDrawing()"></canvas>
    </div> -->