<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ionic_editor_wrapper">
  <!-- <img src="../../../assets/Purple(2).png" alt=""> -->
  <div class="ionic_editor_header">

  </div>
  <div class="ionic_editor">
    <div>
      <input type="text" placeholder="Please Enter Title" [(ngModel)]="title" />
    </div>
    <div>
      <textarea placeholder="Please Enter Description" [(ngModel)]="content"></textarea>
    </div>
    <div class="button-add" (click)="addNewNotes()">Add</div>
  </div>
  <div class="ionic-editor-footer"></div>
</div>