body {
    font-family: 'Roboto', sans-serif;
    --background: #0F1B41;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface', cursive;
}

::ng-deep input:-webkit-autofill,

::ng-deep input:-webkit-autofill:hover,

::ng-deep input:-webkit-autofill:focus,

::ng-deep input:-webkit-autofill,

::ng-deep textarea:-webkit-autofill,

::ng-deep textarea:-webkit-autofill:hover::ng-deep textarea:-webkit-autofill:focus,

::ng-deep select:-webkit-autofill,

::ng-deep select:-webkit-autofill:hover,

::ng-deep select:-webkit-autofill:focus {

    border: none !important;

    -webkit-text-fill-color: #fff !important;

    /* -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset; */

    transition: background-color 5000s ease-in-out 0s;

}

::ng-deep ion-header ion-title {
    font-family: 'Abril Fatface' !important;
}