ion-toolbar {
    --background: #0F1B41;
    --color: #FFFAEA;
}

.forget_enter_emailscreen {
    padding: 10px;
}

ion-button {
    --background: #0F1B41;
        --color: #fff;
        }
        
        ion-content {
            --background: #0F1B41;
        
            ion-card {
                --background: #fff;
        
                ion-item {
                    --background: transparent;
        
                    ion-label {
                        --color: #000;
                    }
        
                    ion-input {
                        --color: #0F1B41;
                    }
                }
            }
}