<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forget_enter_emailscreen" *ngIf="sendEmail else newPassword">
    <ion-card>
      <ion-card-content>
        <form (ngSubmit)="sendEmailVerification()" [formGroup]="credentialsEmail">
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!credentialsEmail.valid">Continue</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #newPassword>
    <div class="forget_newpassword_screen">
      <ion-card>
        <ion-card-content>
          <form (ngSubmit)="forgetPassword()" [formGroup]="credentials">
            <ion-item>
              <ion-label position="floating">New Password:</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm Password:</ion-label>
              <ion-input formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Reset Code</ion-label>
              <ion-input formControlName="restCode" type="text"></ion-input>
            </ion-item>
            <ion-button expand="block" [disabled]="!credentials.valid" type="submit">Continue</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>