<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-icon slot="end" name="power-outline" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="../../assets/ask-me-buddy.jpg">
  <ion-icon name="create"></ion-icon>
  <form action="">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
  </form>
</ion-card>
</ion-content>