ion-content {
--background: url('../../assets/banner.jpeg');
  --color: #fff;
.upper_Section {
    display: flex;
    background: #0F1B41;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 999;

  ion-icon {
      position: absolute;
      right: 14px;
      font-size: 30px;
    }
    img {
      max-width: 120px;
      width: 100%;
    }
    }

.bottom_section {
  // background-image: url('../../assets/banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 10px;

  ion-card {
      margin: 0;
      background: transparent;
      position: relative;

    h1 {
        text-align: center;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        position: absolute;
        letter-spacing: 1px;
        font-family: "Abril Fatface", cursive;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
      }

        ion-img {
          border-radius: 20px;
          overflow: hidden;
          border: 1px solid #fff;
          opacity: 0.5;
          cursor: pointer;
        }
        }
        }

}


form,
input,
optgroup,
select {
margin: 0;
  font: inherit;
  color: inherit;
  text-align: center;
}