ion-content {
  --background: #0F1B41;
  --color: #fff;

  .upper_Section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 15px;

    ion-icon {
      position: absolute;
      right: 14px;
      font-size: 33px;
    }

    img {
      max-width: 120px;
      width: 100%;
    }
  }

  .bottom_section {
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    ion-card {
      ion-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        ion-icon {
          font-size: 20px;
          color: #0F1B41;
        }

   
       
      }

      h1 {
        font-size: 14px;
      }
    }

    .bottom_section_row {
      display: flex;
      align-items: center;
    }

    .card-title {
      border-radius: 5px !important;
    }

    .card-img-wrap {
      width: 40%;
      border-radius: 10px;
      height: 150px;
      
    }

    .card-title-wrap {
      width: 60%;
      padding: 10px;
    }
  }

  .home-banner {
    position: relative;

    h2 {
      font-size: 25px;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "Edu VIC WA NT Beginner", cursive;
      font-weight: bold;
    }
  }
}

.bottom_section {
  padding-top: 25px;
}

form,
input,
optgroup,
select {
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: center;
}

::ng-deep ion-img {
  height: 150px;
  
}

::ng-deep ion-img img {
  height: 150px;
  object-fit: cover !important;
}