ion-content {
  --background: #0F1B41;
  --color: #fff;

  .upper_Section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 15px;

    ion-icon {
      position: absolute;
      right: 14px;
      font-size: 33px;
    }
    img {
      max-width: 120px;
      width: 100%;
    }
  }

  .bottom_section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    ion-card {
      height: 110px;
    width: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;


      ion-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        h1 {
          text-align: center;
          font-size: 14px;
          padding-top: 10px;
        }

        ion-icon {
          font-size: 20px;
          color: #0F1B41;
        }

      }
    }
  }

  .home-banner {
    position: relative;

    h2 {
      font-size: 25px;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "Edu VIC WA NT Beginner", cursive;
      font-weight: bold;
    }
  }
}