<ion-content [fullscreen]="true">
    <div class="upper_Section">
     <h1>Detoximind</h1>
     <ion-icon name="person"></ion-icon>
    </div>
    <div class="bottom_section">
        <div class="bottom_section_row" *ngFor="let item of All_items">
            <ion-card (click)="openScreens(item.type)">
                <ion-card-content mode="ios">
                    <ion-icon name="{{item.icon}}"></ion-icon>
                    <h1>{{item.title}}</h1>

                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>