<ion-content [fullscreen]="true">
    <div class="upper_Section">
        <img src="../../assets/Logo.jpg" alt="">
        <ion-icon name="person-circle-outline" [routerLink]="['/profile']"></ion-icon>
        <!-- <ion-icon name="person" ></ion-icon> -->
    </div>
    <div class="bottom_section">
        <ion-row>
            <ion-col size="6" class="bottom_section_row" *ngFor="let item of All_items">
                <ion-card (click)="openScreens(item.type)" class="card-img-wrap">

                    <ion-img class="image_icon" src="{{item.img}}"></ion-img>
                    <h1>{{item.title}}</h1>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
</ion-content>